/*
@font-face {
  font-family: Didot; 
  src: url("https://www.starpy.me/fonts/Didot.ttc"); 
}*/
@font-face {
  font-family: CODE_Bold; 
  src: url("https://www.starpy.me/fonts/CODE_Bold.otf"); 
}
body, html {
  scroll-behavior: smooth;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
/*		  overflow: hidden;*/
}
#bgCanvas {
	position:absolute;
	top:0;
	left:0
}
#terCanvas {
	position: absolute;
  height: 300px;
  width: 100%;
  bottom: 0;
}
.jumbotron {
	background: transparent;
}
.jumbotron h1, p, a, #partyTitle, #videoTitle, #videoLoadProgress {
	color:palegoldenrod;
	font-family: CODE_Bold, Helvetica, Arial, sans-serif;
}
.jumbotron p, #videoTitle, #videoTitle {
	font-size: 28px;
/*		  text-shadow: 2px 2px black;*/
	-webkit-font-smoothing:antialiased;
}
.jumbotron h1, #partyTitle {
	font-size: 88px;
/*		  text-shadow: 2px 2px black;*/
	-webkit-font-smoothing:antialiased;
  font-weight: 400;
	font-family: CODE_Bold, Helvetica, Arial, sans-serif;
}
.parent-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading-info {
	position: absolute;
	width:100%;
	height:100%;
	text-align: center;
}
#joinButton, .joinButton {
		text-decoration: none;
		background-color: palegoldenrod;
		display: inline-block;
		color:black;
		padding: 20px;
		margin-top:20px;
		font-size: 20px;
		border-radius: 15px;
		cursor: pointer;
}
.hidden {
	display: none !important;
}
.pageContainer {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
  -webkit-filter: contrast(1px);
  -moz-filter: contrast(1px);
  -o-filter: contrast(1px);
  -ms-filter: contrast(1px);
  filter: contrast(1px);   
}

#videoContainer {
	position: fixed;
  width: 500px;
  height: 300px;
  bottom: 0;
  margin: 0;
  left: 0;
  background-color: black;
  z-index: 1000;
  resize: both;
  padding: 20px;
  overflow: hidden;
}


#videoPlayer {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
	position: absolute;
  z-index: 1000;
	border-radius: 10px;
}
.jumbotron p.big-message {
/*			color:black;*/
	font-size: 48px;
/*		  text-shadow: 2px 2px black;*/
  font-weight: 600;
}
.background-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
.chevron::before {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  border-color: palegoldenrod;
  width: 0.45em;
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}

.sys-intro-arrow {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 32px;
  cursor: pointer;
  display: block;
  z-index: 100;
}

.close {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 30px;
  height: 30px;
  opacity: 0.7;
  cursor: pointer;
  z-index: 2000;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 60px;
  width: 2px;
  background-color: palegoldenrod;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.playPrevParty {
	position: absolute;
  top: calc(50% - 30px);
  left: 20px;
  font-size: 60px;
  cursor: pointer;
  z-index: 2000;
}

.playPrevParty:before {
	left:0 !important;
}
.playNextParty {
	position: absolute;
  top: calc(50% - 30px);
  right: 20px;
  font-size: 60px;
  cursor: pointer;
  z-index: 2000;
}

.overflowHidden {
	overflow: hidden;
}
#partyTitle {
	font-size: 44px;
	margin:5px;
  position: absolute;
  z-index: 1001;
}
#videoTitle,
#videoLoadProgress {
	margin: 5px;
  position: absolute;
  z-index: 1001;
  top:50px;
}
.lds-grid {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: calc( 50% - 40px);
  left: calc( 50% - 40px);
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: palegoldenrod;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

#leaveWarning {
  width: 80%;
  margin-left: 10%;
}
#playerPlayButton {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent palegoldenrod;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0 37px 60px;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  z-index: 10000000000;
}
#emailInput {
  font-family: 'CODE_Bold';
  background: transparent;
  border: 0;
  box-shadow: 0 0 0;
  color: palegoldenrod;
  width: 70%;
  left:15%;
  font-size: 30px;
  text-align: center;
  /* text-decoration: underline; */
  left: 0;
  height: 60px;
  outline:0;
  border: 2px solid palegoldenrod;
  border-radius: 15px;
}
.onlymobile {
  display: none;
}

#chatContainer {
  width:400px;
  height:300px;
  position: fixed;
  display: none;
  z-index: 100000;
  bottom: 0px;
  right: 500px;
}
@media (max-width: 800px) {

  #chatContainer {
    width:300px;
    height: 200px;
  }

  .onlymobile { 
    display: block;
  }
	#emailInput {
		font-size: 24px;
		width: 95%;
		left:2.5%;
	}
	#leaveWarning {
    width: 100%;
    margin-left: 0;
	}
	.playNextParty {
    right: 10px;
/*		    top: calc(85% - 30px);*/
  }
	.playPrevParty {
    left: 10px;
/*		    top: calc(85% - 30px);*/
  }
	.jumbotron p.big-message {
		font-size: 30px;
/*				padding: 20px;*/
    margin-bottom: 0;
	}
	.jumbotron h1 {
		font-size: 52px;
		padding: 20px;
	}
	#videoPlayer {
		width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    position: fixed;
    border-radius: 10px;
    background-color:transparent;
  }
	#videoTitle {
    top:100px;
	}
	.joinButton {
 		margin-top:0px;
	}
}
#videoLoadProgress {
  bottom: 0;
  top: initial !important;
}

textarea, textarea:focus,
textarea::first-line
{
    /* font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif; make your choice */
    /* font-size: 11px;                                                   make your choice  */
    border: none;
    cursor: pointer;
    background: transparent;
    -webkit-appearance: none;
    -moz-apperarance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    padding: 0px;
    resize: none;
    width: 100%;
    overflow: hidden;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    caret-color: burlywood;
    caret-shape: underscore;
}
span {
  padding-left: 0 !important;
}
/* textarea::first-line {
  margin-left: 0;
  text-indent: 0;
  padding-left: 0;
} */